# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
.venv/
env/

# Variáveis de ambiente e Credenciais
.env
*.json

# Arquivos do Editor / Google Cloud Shell
.codeoss/
.vscode/

# Arquivos de Sistema
.DS_Store